.cityState{
font-family:arial;
font-weight:bold; 
font-size:14px; 
color:#990000;
}
.siteButton{
background-image:url(http://media.expedia.com/media/content/expus/graphics/promos/deals/map_number_bg_hover.gif); 
width:23px; 
height:22px;
padding-top:4px;
padding-left:2px; 
text-align:center; 
color:#ffffff;
font-family:arial;
font-weight:bold; 
font-size:11px;
}
.description{
font-family:arial;
font-weight:bold; 
font-size:12px;
color:#330000;
margin-top:0px;
padding-left:10px;
}
#locationTitle{
text-align:center;
}
.soaTitle{
font-family:arial;
font-weight:bold; 
font-size:14px; 
color:#990000;
padding-left:115px;
margin-bottom:10px;
}
#indyLoc{
font-family:arial;
font-weight:bold; 
font-size:12px; 
color:#330000;
text-align:center;
margin-top:12px;
}
#site{
font-family:arial;
font-weight:bold; 
font-size:14px; 
color:#990000;
text-align:center;
margin-bottom:6px;
}
#cost{
font-family:arial;
font-weight:bold; 
font-size:12px; 
color:#330000;
text-align:center;
padding-top:6px;
}
#indypricing{
width:420px;
}
#pricing{
position:absolute;
top:690px;
width:320px;
height:30px;
}
#hotels{
font-family:arial;
font-weight:normal; 
font-size:12px; 
color:#330000;
text-align:right;
padding-right:80px;
margin-bottom:5px;
position:absolute;
top:60px;
right:10px;
}
#hotel{
font-weight:bold;
}
#packages{
font-family:arial;
font-weight:normal; 
font-size:12px; 
color:#330000;
text-align:right;
padding-right:80px;
position:absolute;
top:80px;
right:10px;
}
#package{
font-weight:bold;
}
#features{
color:#330000 !important;
font-family:arial;
font-weight:normal; 
font-size:12px;
padding-left:10px;
position:absolute;
top:800px; 
}
.soaTitleIndy{
font-family:arial;
font-weight:bold; 
font-size:14px; 
color:#990000 !important;
padding-left:0px;
margin-bottom:10px;
}
#descpara{
color:#330000 !important;
font-family:arial;
font-weight:normal; 
font-size:12px;
text-align:left;
padding-top:8px;
width:300px;
padding-left:62px;
}